{% extends 'EventsApp/base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        {% if searched %}
        You searched for {{ searched }}
        {% else %}
        Please search Event
        {% endif %}
    </div>
</div>
<form method="post", action="{% url 'search-events' %}">
   {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search Venue" name="searched" aria-label="Search">
    <br>
    <button class="btn btn-secondary" type="submit">Search</button>
      </form>
{% for event in events %}
<div class="card">
  <div class="card-header">
    <strong>{{ event.name }}</strong>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ event.venue }}</h5>
    <p class="card-text">
        <ul>
    <li>Web: {{ event.venue.web }}</li>
    <li>Date: {{ event.event_date }}</li>
    <li>Manager: {{ event.manager }}</li>
    <li>Description: {{ event.description }}</li>
    <li>Attendees:
        {% for user in event.attendees.all %}
        <ul>
        <li>{{ user }}</li>
            </ul>
    {% endfor %}
</ul>
      {% if user.is_authenticated %}
      {% if user == event.manager %}
    <div class="card-footer text-muted">
      <a href="{% url 'update_event' event.id %}" class="btn btn-secondary btn-sm">Update</a>
         <a href="{% url 'delete_event' event.id %}" class="btn btn-danger btn-sm">Delete</a>
    </div>
      {% else %}
      This Event requires Manager to Update or Delete the Event
      {% endif %}
      {% endif %}
  </div>
</div>
        <br/>
{% endfor %}

{% endblock %}