{% extends 'EventsApp/base.html' %}

{% block content %}
<h1>UPDATE EVENT </h1>
{% if user.is_authenticated %}
{% if user == event.manager %}
{% if submitted %}
Updated Successfully
{% else %}
<form method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" class="btn btn-secondary">
</form>
{% endif %}

{% else %}
<h2>Access Denied..</h2>
Only Event manager can Update this record
Loged In: {{ user }}<br>
Event Manager: {{ event.manager }}
{% endif %}

{% else %}
Please log in first
{% endif %}
{% endblock %}